<html>

    <head>
        <title>Main Page</title>
    </head>

    <body align="center">
        <h1>Welcome to Vaccines DB</h1>
        <p>View the information of</p>
        「<a href="residents">Residents</a> | <a href="vaccines">Vaccines</a> | <a href="institutions">Institutions</a> | <a href="records">Records</a>」
        <p>OR</p>
        <p>
            <a href="inventories">Increase/Decrease Inventories</a>
        </p>
            
    </body>


    </br>
    </br>
    <fieldset>
        <legend><strong>Function Descriptions</strong></legend> 
        <div align="left">
        <p>Total number of entities: 5</p>
        <p>Create Function: Residents, Vaccines, Institutions, Records, Inventories</p>
        <p>Read Function: Residents, Vaccines, Institutions, Records, Inventories</p>
        <p>Update Function: Inventories, Records</p>
        <p>Delete Function: Inventories</p>
        <p>NULLable relationship: institutionName for edit_records</p>
        <p>Dynamic: Dropdown boxes for edit_records and edit_inventories</p>
        </div>
    </fieldset>

</html>